{
  "env": {
    "cli": {
      "presets": [
        ["env", {
          "targets": {
            "node": "6.11.4",
          },
        }]
      ]
    },
    "test": {
      "presets": [
        ["env", {
          "targets": {
            "node": "6.11.4",
          },
          "modules": "commonjs",
          "useBuiltIns": "usage",
          "debug": false,
        }]
      ]
    },
    "browser": {
      "presets": [
        ["env", {
          "targets": {
            "browsers": [
              "last 3 versions",
              "ie 11",
              "ios 8",
            ]
          }
        }]
      ]
    }
  }
}
